/* CSS Document */
.main {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 10px
}
.main a {
	color: #666666
}
.main a:hover {
	color: #E31939;
}
.Red {
	color: red
}
.right {
	width: 944px;
	overflow: hidden;
	_float: right;
	font-size: 12px;
	line-height: 150%;
}
.left {
	width: 246px;
	overflow: hidden;
	margin-right: 10px;
	float: left;
	padding-bottom: 5px
}
.left h2 {
	background: #f60 url(../images/help/helpcenter.jpg) no-repeat;
	height: 29px;
	line-height: 300px;
	overflow: hidden
}
.help_side {
	border: 1px solid #dddddd
}
.help_side h4 {
	background: #FAFAFA;
	height: 32px;
	line-height: 32px;
	padding-left: 25px;
	color: #4a4a4a;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.help_side .dt_ico {
display: inline-block;
float: left;
width: 16px;
height: 16px;
margin: 7px 10px 7px 0px;
overflow: hidden;
background: url(../images/upgrade_ad/art_1387765832.png) no-repeat;
}
.art_ico1 {
background-position: 0px -101px!important;
}
.art_ico2 {
background-position: -16px -101px!important;
}
.art_ico3 {
background-position: -32px -101px!important;
}
.art_ico4 {
background-position: -48px -101px!important;
}
.art_ico5 {
background-position: -64px -101px!important;
}
.help_side ul{

}
.help_side ul li {
	background: url(../images/help/helpcenter_icon1.gif) no-repeat 38px 10px;
	padding-left: 50px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	border-top: 1px dotted #cbecf8;
}
.help_side ul li.li1 {
	border-top: medium none;
}
.help_side ul li.helpcurr {
	background: url(../images/help/helpcenter_icon2.gif) no-repeat 38px 10px;
	color: #cc0000;
}
.help_side ul li a:link, .help_side ul li a {
	color: #666666;
	text-decoration: none;
}
.help_side ul li a:hover, .help_side ul li a:active {
	color: #E31939;
	text-decoration: underline;
}
.help_side ul li.helpcurr a {
	color: #E31939;
	text-decoration: none;
}
.right{
	border:1px #dddddd solid
}
.right img {
	margin: 10px
}
.right h3 {
	background: #FAFAFA;
	height: 32px;
	line-height: 32px;
	padding-left: 13px;
}
.right h3 a {
	font-weight: 400;
	font-size: 12px;
	float: right;
	margin-right: 10px
}
.right h3.help_tit {
	height: 32px;
	line-height: 32px;
	padding-left: 13px;
}
.right h3.help_tit strong {
	float: left;
	height: 32px;
	line-height: 32px;
	position: relative;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.right h3.help_tit a {
	font-weight: 400;
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	float: right;
	margin-right: 10px
}
.help_box {
	padding: 10px 10px 10px 20px;
}
.dt_bold dt {
	font-weight: 700;
	margin-top: 5px;
	color: #333
}
.dt_bold dd {
	padding-left: 1.8em;
	margin-bottom: 20px
}
.dl_box dt {
	margin-top: 5px;
	margin-bottom: 5px
}
/*sortlist*/
#sortlist h4 {
	cursor: pointer;
	border-bottom: 1px solid #dddddd;
}
#sortlist .current h4 {
	border-bottom: 0;
}
#sortlist b {
	float: right;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	background: url(../images/help/help_leftsz.gif) no-repeat right -14px;
	overflow: hidden;
	cursor: pointer;
	margin: 7px 10px 0 0;
}
#sortlist ul {
	display: none;
}
#sortlist .current b {
	background: url(../images/help/help_leftsz.gif) right 0;
}
#sortlist .current ul {
	display: block;
}
/*floatinfo*/
a.info {
	text-decoration: none;
	font-size: 12px;
}
.info {
	position: relative;
	font-size: 14px;
	cursor: pointer;
}
.info:hover {
	background: #fff;
}
.info span {
	display: none;
}
.info:hover span {
	position: absolute;
	display: block;
	top: 15px;
	left: 0;
	background: #fff;
	z-index: 999;
	text-decoration: none;
	color: #000;
}
